textarea::-webkit-scrollbar{
    width: 0;
}
textarea{
    font-size: 18px;
    font-weight: 400;
    outline: none;
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 2px solid rgb(168, 168, 168);
}
.card-post{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}


/* post ======================================= */

#display_image{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    background-position: center;
    /* background-size: cover; */
}
img{
    width: 100%;
    height: 100%;
}

#file{
    display: none;
}


/* user profile ================================= */
.cover{
    /* margin-top: -15px; */
    height: 300px;
    width: 100%;
    /* background-image: url('../uploads/image-62296af7108246.04371375.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.user-name{
    height: 80px;
    width: 100%;
    padding-left: 230px;
    background-color: rgb(255, 255, 255);
}

/* user profile =============== */
.profile-pic-div{
    height: 130px;
    width: 130px;
    position: absolute;
    top: 53%;
    left: 35%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(167, 167, 167);
}
.profile-pic{
    height: 130px;
    width: 130px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(167, 167, 167);
}
/* #photo{
    height: 100%;
    width: 100%;
    border-radius: 50%;
} */
#file{
    display: none;
}
#uploadBtn{
    width: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}
/* --------cover------- */
#cover-dropdown{
    text-align: left;
}

/* --------user infomation-------- */
.user-infomation{
    background-color: white;
    border-radius: 5px;
}

/* --------button create post--------- */
#create-post{
    background-color: #D22EE0;
    border: none;
    outline: #D22EE0;
}




/* post-card  ---------------------------------------------------------------------------------------------------------------------------------------------------*/
.container-post {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin: auto;
}
.container-post .container-header {
    width: 80%;
    margin: auto;
}
.container-post .container-header .navbar{
    width: 90%;
    margin: auto;
    text-align: center;
}
.container-post .container-header  h1 {
    color: blue;
    cursor: pointer;
}
.container-post .container-header .title h1:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* card-post */
.show-nav {
    width: 50%;
    overflow: hidden;
    position:fixed;
    top: 0;
}
.cardp {
    width: 100%;
    background-color: rgb(194, 194, 194);
    margin: 10px auto auto auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cardp .cardp-header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
   
}
.cardp .cardp-header .headerleft,.headerright {
    width: 50%;
}
.cardp .cardp-header .headerleft {
    width:50%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin: 10px auto;
    padding: 20px;
}
.cardp .cardp-header .headerleft .profile{
    width: 70px;
    height: 70px;
}
.cardp .cardp-header .headerleft .profile img {
    border-radius: 50%;
}
.cardp .cardp-header .headerleft .title {
    width: 70%;
    margin-left: -30px;
}
.cardp .cardp-header .headerleft .title .date{
    margin-top: -10px;
    font-size: 13px;
}
.cardp .cardp-header .headerright {
    justify-content: end;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.cardp .cardp-header .headerright .btn-edit,.btn-delete {
    margin: 10px;
}
.cardp .cardp-header .headerright button {
    padding: 5px;
    width: 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: blue;
}
.cardp .cardp-header .headerright button:hover {
    background-color: rgb(209, 205, 201);
}
.cardp-description {
    width: 90%;
    margin: auto;
}
.cardp-body {
    width: 100%;
    /* background-color: blue; */
    height: 50vh;
}
.cardp-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    background-color: aliceblue;
}
.cardp-footer .like,.commentbtn {
    width: 10%;
    margin: auto;
    align-items: center;
   margin-top: 10px;
}
/* show-------------------------------------------------------------------------------------------------------------------------------- */
.showallusers {
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
}
.sh-nav {
    margin-top: -70px;
    top: 0;
    overflow: hidden;
    position: sticky;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.showallusers .row {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.showallusers .row .left {
    width: 65%;
    display: flex;
}
.showallusers .row .left img {
    width: 80px;
    border-radius: 50%;
}
.showallusers .row .left p {
    margin: 30px;
    font-weight: bold;
    font-size: 16px;
}
.showallusers .row .right {
    text-align: end;
}
.showallusers .row .right button {
    padding: 10px;
    color: white;
    width:90px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
/* sing up ----------------------------------------------------------------------------------------------------------------------------------*/
.containeri {
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.containeri .header-container {
    width: 70%;
    margin: auto;
}
.containeri .body-container {
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.containeri .title-container {
    width: 70%;
    margin: auto;
}
.containeri .body-container form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.containeri .body-container form .input-g1 {
    width: 40%;
    margin: auto;
}
.containeri .body-container form .input-g1 input,select {
    width: 95%;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    color: black;
}
.containeri .body-container form .input-g1 select {
    color: black;
}
.containeri .body-container form .input-g2 {
    width: 90%;
    margin: auto;
}
.containeri .body-container form .input-g2 input {
    width:100%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.containeri .body-container form .btn-g {
    width: 80%;
    text-align: end;
    margin-top: 10px;
}
.containeri .body-container form .btn-g button {
    padding: 10px;
    border: none;
    color: black;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

/* comment */
.cardp .comment-site {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.cardp .comment-site .left {
    width: 30%;
    margin: auto;
    margin-top: 20px;
}
.cardp .comment-site .left .profile {
    width: 30%;
}
.cardp .comment-site .left .profile img {
    border-radius: 50%;
}
.cardp .comment-site .right {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin:15px auto;
}
.cardp .comment-site .right form {
    width: 95%;
    margin-top: 10px;
}
.cardp .comment-site .right form input {
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.cardp .comment-site .right form button {
    padding: 10px;
    border: none;
    background-color: rgb(173, 170, 165);
    color: blue;
}
.comment-show-page {
    width: 90%;
    margin: auto;
}
.commentp {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.commentp .left {
    width: 30%;
    margin: auto;

    
}
.commentp .left .profile {
    width: 20%;
}
.commentp .left .profile img {
    border-radius: 50%;
}
.commentp .right {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -350px;
}
.commentp .right .above {
    width: 90%;
    margin: auto;
    background:white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
}
.commentp .right .below {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}






